streamlit
python-dotenv

langchain
langchain-core
langchain-groq
langchain-community
langchain-classic

groq
tavily-python

chromadb==0.4.24
numpy==1.26.4
pysqlite3-binary

protobuf==3.20.3
pandas
numpy

sentence-transformers
ddgs