streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-groq

groq
tavily-python

chromadb==0.4.24
numpy==1.26.4
pysqlite3-binary
psycopg2-binary
pgvector

protobuf==3.20.3
pandas

sentence-transformers
ddgs